<p id="notice"><%= notice %></p>

<p>
  <strong>App:</strong>
  <%= @rating.app %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user %>
</p>

<p>
  <strong>Claridad:</strong>
  <%= @rating.claridad %>
</p>

<p>
  <strong>Motivacion:</strong>
  <%= @rating.motivacion %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @rating.contenido %>
</p>

<p>
  <strong>Interaccino:</strong>
  <%= @rating.interaccion %>
</p>
