<%= form_for(app) do |f| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
    <%= f.label :cuerpo %>
    <%= f.text_area :cuerpo %>
  </div>

  <div class="field">
    <%= f.label :plataforma %>
    <%= f.select :plataforma,[["Selecciona la plataforma",""],["web","web"],["escritorio","escritorio"],["movil","movil"]] %>
  </div>

  <div class="field">
    <%= f.label :idioma %>
    <%= f.select :idioma,[["Selecciona EL idioma",""],["Ingles","Ingles"],["Español","Español"]] %>
  </div>
  <div class="field">
    <%= f.label :rol %>
    <%= f.select :rol, [["Rol que cumple",""],["estudiante","estudiante"],["profesor","profesor"]] %>
  </div>
  <div class="field">
    <%= f.label :sitio_web %>
    <%= f.text_field :sitio_web %>
  </div>

  <div class="field">
    <%= f.file_field :imagen %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
