<%= form_for(app) do |f| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  	<ol class="breadcrumb">
  		<li><a href="/dashboard">Administrar aplicaciones</a></li>
  		<li class="active">Nueva aplicación</li>
  	</ol>
  	<div class="col-md-2"></div>
  	<div class="col-md-8">
  			<form method="POST" class="form-horizontal">
  				<div class="form-group">
  			        <div class="col-xs-9">
                    <%=  f.text_field :titulo,placeholder:"Titulo", required:true, autofocus:"true",class:"form-control"%>
  			        </div>
  			    </div>
  				<div class="form-group">

  			        <div class="col-xs-9">
                  <%= f.text_area :cuerpo, class:"form-control",rows:"7",style:"resize: none;",placeholder:"Escribe una breve descripción de la aplicación..." %>
  			        </div>
  			  </div>
               <div class="">

                 <div class="col-xs-9">
                   <%= f.select :plataforma,[["Selecciona el area",""],["Electronica","Electronica"],["Electricidad","Electricidad"],
                   ["Algebra","Algebra"],["Trigonometria","Trigonometria"],
                   ["Calculo","Calculo"],
                   ["Estadistica","Estadistica"],["Matematicas","Matematicas"]] %>
                 </div>
               </div>
  			    <div class="form-group">

  			        <div class="col-xs-9">
  			            <%= f.select :plataforma,[["Selecciona la plataforma",""],["web","web"],["escritorio","escritorio"],["movil","movil"]],class:"form-control" %>
  			        </div>
  			    </div>
  			    <div class="form-group">

  			        <div class="col-xs-9">
  			            <%= f.select :idioma,[["Selecciona EL idioma",""],["Ingles","Ingles"],["Español","Español"]]
                    %>
  			        </div>
  			    </div>
  			    <div class="form-group">

  			        <div class="col-xs-9">
  			          <%= f.text_field :sitio_web %>
  			        </div>
  			    </div>
            <div class="">
              <div class="field">
                    <%= f.file_field :imagen %>
             </div>
            </div>
  			    <hr>
  			    <div class="form-group">

  			        <div class="col-xs-9">
  			            <%= f.select :rol, [["Rol que cumple",""],["estudiante","estudiante"],["profesor","profesor"]] %>
  			        </div>
  			  </div>
  				<hr>
  				<button type="submit" class="btn btn-lg btn-success" name="btnCrear_app" style="width: 50%; margin: 0 auto; display: block;">Guardar <i class="fa fa-angle-double-right"></i></button>

  	</div>
  	<div class="col-md-2"></div>
  </div><br>

  	<script type="text/javascript">
          $(document).ready(function () {
              $('#example1').datepicker({
                  format: "dd/mm/yyyy"
              });
          });
      </script>
<% end %>
